{% extends 'base.html' %}

{% block content %}

<div class="ui grid container">
    <!-- LEFT CITY CONTAINER -->
    <div class="ui yellow five wide column stretched vertically">
        <div class= "ui header">All Cities</div>        
            <div class="ui floated vertical pointing menu">
            {% for town in towns %}
                <div class="item">
                    <a href="{% url 'city_show' town.id %}" >{{town.name}}</a>
                    <img src="{{town.image}}" alt="{{town.name}}" class="ui left floated mini image">
                </div>
            {% endfor %}
        </div>
    </div>
    
    <!-- RIGHT POST SHOW -->
    <div class="ui eleven wide column">
        <div class="ui vertically divided relaxed grid container">
            <div class="ui right floated row"> 
                <div class="ui header" id="city_head">{{city.name}}</div>
                <img src="{{city.image}}" alt="{{city.name}}" class="ui medium image">
            </div>
            <div class="row">
                <div class="ui header">Posts
                    <i class="right floated red plus circle icon" id="app_post"></i>
                </div>
            </div>
                <div class="ui vertical menu" id="post_menu">
                {% for post in posts %}
                    <a href="/posts/{{ post.id }}" class="item" > 
                        <h4 class="ui header">Post title: {{ post.title }}, is about {{ post.city }}</h4>
                        <h5>{{ post.text }}</h5>
                    </a>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ADD POST MODALS -->
<div class="ui post modal">
    <i class="close icon"></i>
    <div class="header">Add Post</div>
        <div class="content">
            {% csrf_token %}
            {{ post_form.as_p}}
        </div> 
</div>
{% endblock content %}