{% extends 'base.html' %}

{% block content %}
<div class="ui celled grid container">
    <div class="ui six wide column yellow stretched vertically padded">
        <div class="ui cards vertical segments red">
            <div class= "ui medium header segment">All Cities</div>
            {% for town in towns %}
                <a href="{% url 'city_show' town.id %}" class="ui card segment">
                    <div class="content">
                        <img src="{{town.image}}" alt="{{town.name}}" class="ui left floated small image">
                        <h4 class="ui right floated">{{town.name}}</h4>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="ui ten wide column">
        <div class="ui vertically divided relaxed grid container">
            <div class="ui right floated row"> 
                <div class="ui large header">{{city.name}}</div>
                <img src="{{city.image}}" alt="{{city.name}}" class="ui right floated medium image">
            </div>

            <div class="row">
                <span class="ui large header">Posts</span>
                <button class= "ui circular icon red button" id="add_post">
                    <i class="plus icon"></i>
                </button>
            </div>
                <div class="ui cards vertical segments green row">
                {% for post in posts %}
                    <div class="ui card segment">
                        <h4 class="ui header">{{ post.title }}
                            <div class="sub header">By: {{post.author}} - {{post.date_created}}</div>
                        </h4>
                        <div class="description">{{ post.text }}</div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Add Post
    </div>
    </div>
</div>

{% endblock content %}