/* ----- BRAND COLORS -----*/
:root {
    --backgroundcolor: #fffaf1ff;
    --wayfarerRed: #d92027ff;
    --wayfarerYellow: #ffcd3cff;
    --wayfarerOrange: #ff9234ff;
    --wayfarerGreen: #35d0baff;

}


/* ----- MAIN -----*/
#body {
    background-color: var(--backgroundcolor);
}

#nav {
    background-color: var(--wayfarerYellow);
    border-radius: 0px;
}

.ui.menu .item {
    color: black;
    font-weight: 900;
    font-size: 16px;
}

.footer {
    background-color: var(--backgroundcolor);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

a:link {
    color:var(--wayfarerGreen);
}


/* ----- BUTTONS -----*/
.ui.button {
    background-color: var(--backgroundcolor);
    color: black;
    font-weight: 900;
    line-height: 0.7em; 
}

.ui.primary.button {
    background-color: var(--backgroundcolor);
    color: black;
    font-weight: 900;
    line-height: 0.7em; 
}

.ui.secondary.button {
    background-color: var(--wayfarerGreen);
}

.ui.red.button {
    background-color: var(--wayfarerRed);
    color: black;
    font-weight: 900;
    line-height: 0.7em; 
}

.ui.orange.button {
    background-color: var(--wayfarerOrange);
    color: black;
    font-weight: 900;
    line-height: 0.7em; 
}

.ui.yellow.button{
    background-color: var(--wayfarerYellow);
    color: black;
    font-weight: 900;
    line-height: 0.7em; 
}

.ui.green.button{
    background-color: var(--wayfarerGreen);
    color: black;
    font-weight: 900;
    line-height: 0.7em; 
}




/* ----- MAIN PAGE CAROUSEL-----*/
#hero {
    max-height: 30%;
}



/* ----- MODAL -----*/
.ui.modal {
    background-color: var(--backgroundcolor);
}
