:root {
    --backgroundcolor: #fffaf1ff;
    --wayfarerRed: #d92027ff;
    --wayfarerYellow: #ffcd3cff;
    --wayfarerOrange: #ff9234ff;
    --wayfarerGreen: #35d0baff;

}


#body {
    background-color: var(--backgroundcolor);
}

#nav {
    background-color: var(--wayfarerYellow);
}

#btn .ui button {
    background-color: var(--backgroundcolor)!important;
}

#hero {
    max-height: 30%;
}
