{% extends 'base.html' %}

{% block content %}

<div class="carousel-section">
        <h1 class="carousel-header">Wayfarer</h1>
    <div class="carousel">
        <div><img src="static/assets/dubai.jpg" alt=""></div>
        <div><img src="static/assets/san-francisco.jpg" alt=""></div>
        <div><img src="static/assets/new-orleans.jpg" alt=""></div>
    </div>
</div>

<div class="ui three column doubling stackable grid container">
    <div class="column">
        <div class="ui medium header">Article Title</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa at ab odit autem nesciunt unde reprehenderit illum, reiciendis quibusdam vitae mollitia laboriosam tempora soluta tenetur voluptates temporibus voluptatibus quam odio!</p>
    </div>
    <div class="column">
        <div class="ui medium header">Article Title</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa at ab odit autem nesciunt unde reprehenderit illum, reiciendis quibusdam vitae mollitia laboriosam tempora soluta tenetur voluptates temporibus voluptatibus quam odio!</p>
    </div>
    <div class="column">
        <div class="ui medium header">Article Title</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa at ab odit autem nesciunt unde reprehenderit illum, reiciendis quibusdam vitae mollitia laboriosam tempora soluta tenetur voluptates temporibus voluptatibus quam odio!</p>
    </div>
</div>


{% endblock %}