{% extends 'base.html' %}

{% block content %}

<div class="ui container raised segment" id="hero">
    <img class= "ui centered fluid image" src="static/assets/dummy-image.png" alt="city image">
</div>
<div class="ui three column doubling stackable grid container">
    <div class="column">
        <div class="ui medium header">Article Title</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa at ab odit autem nesciunt unde reprehenderit illum, reiciendis quibusdam vitae mollitia laboriosam tempora soluta tenetur voluptates temporibus voluptatibus quam odio!</p>
    </div>
    <div class="column">
        <div class="ui medium header">Article Title</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa at ab odit autem nesciunt unde reprehenderit illum, reiciendis quibusdam vitae mollitia laboriosam tempora soluta tenetur voluptates temporibus voluptatibus quam odio!</p>
    </div>
    <div class="column">
        <div class="ui medium header">Article Title</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa at ab odit autem nesciunt unde reprehenderit illum, reiciendis quibusdam vitae mollitia laboriosam tempora soluta tenetur voluptates temporibus voluptatibus quam odio!</p>
    </div>
</div>


{% endblock %}