{% extends "base.html" %}

{% block content %}

<h1 class="ui header huge">Wayfarer is not a real website.</h1>

<h2 class="ui header large">Wayfarer is a fully functional tech demo built in under a week by three developers new to all its underlying technologies:</h2>

<div class="ui list">
    <div class="item">Django Framework</div>
    <div class="item">Postgres SQL Database</div>
    <div class="item">Semantic-UI Library</div>
</div>

<h2 class="ui header large">Please take a look around. If you like what you see, prehaps you would like to work with one or all of us. You may contact the team at the addresses below.</h2>

<div class="ui three column doubling stackable grid container">
    <a href="mailto:jeffathomp@gmail.com" class="ui medium image">
        <img src="https://res.cloudinary.com/dvk80uh1a/image/upload/v1602283308/gdd2sructhkwh5ag2mo2.jpg" alt="Jeffrey Thompson">
        <span class="ui bottom left attached label">Jeffrey Thompson - jeffathomp@gmail.com</span>
    </a>
    <a href="" class="ui medium image">
        <img src="https://res.cloudinary.com/dvk80uh1a/image/upload/v1602283308/gdd2sructhkwh5ag2mo2.jpg" alt="Jeffrey Thompson">
        <span class="ui bottom left attached label">jeffathomp@gmail.com</span>
    </a>
    <a href="" class="ui medium image">
        <img src="https://res.cloudinary.com/dvk80uh1a/image/upload/v1602283308/gdd2sructhkwh5ag2mo2.jpg" alt="Jeffrey Thompson">
        <span class="ui bottom left attached label">jeffathomp@gmail.com</span>
    </a>
</div>

{% endblock content %}