{% extends 'base.html' %}
{% block content %}

<section style="width: 50%;
margin: 0 auto;">
<h1>Sign Up</h1>
  <form class="ui form" action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    <p class="field">
      <label for="name">Full Name</label>
      <input type="text" name="name" maxlength="50" minlength="2" required>
    </p>
    <p class="field">
      <label for="current_city">Current City</label>
      <input type="text" name="current_city" maxlength="50" minlength="2" required>
    </p>
      <p class="field">
        <label for="username">Username</label>
        <input type="text" name="username" maxlength="25" minlength="2" required>
      </p>
      <p class="field">
        <label for="email">Email</label>
        <input type="text" name="email" maxlength="25" minlength="2" required>
      </p>
      <p class="field">
        <label for="password">Password</label>
        <input type="password" name="password" maxlength="50" minlength="4" required>
      </p>
    <button class="ui button"  type="submit">Sign Up</button>
  </form>
</section>

{% endblock %}

<script>

$('.ui.form')
  .form({
    fields: {
      name: {
        identifier: 'name', 
        rules: [
          {
            type : 'empty', 
            prompt : 'Please enter your name'
          }
        ]
      }, 
      current_city: {
        identifier: 'name', 
        rules: [
          {
            type : 'empty', 
            prompt : 'Please enter the city you live in'
          }
        ]
      }, 
      username: {
        identifier: 'username',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a username'
          }
        ]
      },
      password: {
        identifier: 'password',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a password'
          },
          {
            type   : 'minLength[6]',
            prompt : 'Your password must be at least {ruleValue} characters'
          }
        ]
      }
    }
  })
</script>