{% extends 'base.html' %}
{% block content %}

<h1>Signup page</h1>

<form action="{% url 'signup' %}" method="POST">
  {% csrf_token %}
  <p>
    <label for="name">Name</label>
    <input type="text" name="name" maxlength="50" minlength="2" required>
  </p>
  <p>
    <label for="current_city">Current City</label>
    <input type="text" name="current_city" maxlength="50" minlength="2" required>
  </p>
  <p>
    <label for="username">Username</label>
    <input type="text" name="username" maxlength="25" minlength="2" required>
  </p>
  <p>
    <label for="email">Email</label>
    <input type="text" name="email" maxlength="25" minlength="2" required>
  </p>
  <p>
    <label for="password">Password</label>
    <input type="password" name="password" maxlength="50" minlength="4" required>
  </p>
  <button type="submit">Sign Up</button>
</form>

{% endblock %}