{% extends 'base.html' %}
{% block content %}


<div class="ui celled grid container">
  <div class="ui six wide column">
    <img class="ui image small" src="{{profile.image}}" alt="user image">
    <h2>{{ title }}</h2>
    <p>From {{ profile.current_city }}</p>
    <p>Joined Wayfarer on {{ profile.date_joined }}</p>
      <div class="two column row">
        <a href="/profile/{{profile.id}}/edit" class="ui button green" id="btn">Edit</a>
        <a href="/profile/{{user.id}}/delete" class="ui button red" id="btn">Delete</a>
      </div>
  </div>
  <div class="ui six wide column">
    <h2>{{ title}}'s Posts</h2>
    {% for post in posts %}
    <a href="/posts/{{ post.id }}"> 
      <div class="ui card">
        <h4 class="ui header">{{ post.title }} </h4>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}