{% extends 'base.html' %}
{% block content %}

<div class="ui items container">
  
  <a href="{% url 'city_show' post.city.id %}" class="ui centered large image row">
    <img class= "ui centered image" src="{{ post.city.image }}">
    <div class="ui bottom attached label">{{post.city.name}}</div>
  </a>

  <div class="content">
    <div class="ui huge header">{{ post.title }}
      <div class="ui sub header">
        <span>By: {{ post.author}}</span>
      </div>
      <div class="ui sub header">
        <span>{{ post.date_created}}</span>
      </div>
    </div>
    <div class="description">
      <p>{{ post.text }}</p>
    </div>
    <div class="ui large buttons">
      <a href="{% url 'post_edit' post.id %}"><button class="ui green button">Edit</button></a>
      <div class="or"></div>
      <button class="ui red button">Delete</button>
    </div>
  </div>
</div>

{% endblock %}